@import url('./node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css');
@import url('./node_modules/@fortawesome/fontawesome-free/css/fontawesome.css');
@import url('./node_modules/@fortawesome/fontawesome-free/css/brands.css');
@import url('./node_modules/@fortawesome/fontawesome-free/css/solid.css');

.main-container {
    display: flex;
    background-color:#777;
}

.left-navigation,
.content-body {
    display: flex;
    justify-content: flex-start;

    background-color: #ddd;
}

.left-navigation {
    flex-direction: column;
}

.nav-item {
    border: 1px solid #000;
    padding: 15px;
}