@import url('./node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css');
@import url('./node_modules/@fortawesome/fontawesome-free/css/fontawesome.css');
@import url('./node_modules/@fortawesome/fontawesome-free/css/brands.css');
@import url('./node_modules/@fortawesome/fontawesome-free/css/solid.css');

body {
    font-family: Arial, Helvetica, sans-serif;
}

.main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    /* align-content: flex-start; */
}

.navigation,
.content-body {
    align-items: flex-start;

    /* border: 1px solid #ccc; */
}

.navigation {
    flex-basis: 20%;
    flex-direction: column;

}
.nav-item {
    flex: 1;

    background-color: #ccc;
    border: 1px solid #aaa;
    padding: 10px;
    margin:0 10px 0 0;

}

.content-body {
    display: flex;          /* is this acceptable multiple times? */
    flex-basis: 80%;
    flex-direction: row;

    /* border: 1px solid #ccc; */
}
.content-container {
    flex: 1;
}

